nav {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 15px 30px;
    z-index: 99;
    text-align: right;
    @include mediaMaxWidth(800) {
        text-align: center;
    }
    @include mediaMaxWidth(500){
        text-align: center;
    }
    figure {
        display: inline-block;
        img {
            max-width: 200px;
            cursor: pointer;
        }
    }
    &.nav-recipe {
        width: 50%;
        right: 0;
        @include mediaMaxWidth(800){
            width: 100%;
        }
        a {
            @include rubik;
            color: #E2A427;
            text-transform: uppercase;
            font-size: 14px;
            display: block;
            float: left;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include mediaMaxWidth(800){
                display: none;
            }
            span {
                display: inline-block;
                margin-right: 8px;
                height: 20px;
                margin-bottom: -5px;
                width: 20px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy41IiBoZWlnaHQ9IjE3LjUiIHZpZXdCb3g9IjAgMCAxNy41IDE3LjUiPgogIDxnIGlkPSJJY29uX2ZlYXRoZXItYXJyb3ctdXAtY2lyY2xlIiBkYXRhLW5hbWU9Ikljb24gZmVhdGhlci1hcnJvdy11cC1jaXJjbGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNSAxNykgcm90YXRlKC05MCkiPgogICAgPHBhdGggaWQ9IlBhdGhfMzk1MiIgZGF0YS1uYW1lPSJQYXRoIDM5NTIiIGQ9Ik0xNi41LDguMjVBOC4yNSw4LjI1LDAsMSwxLDguMjUsMCw4LjI1LDguMjUsMCwwLDEsMTYuNSw4LjI1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTJhNDI3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMSIvPgogICAgPHBhdGggaWQ9IlBhdGhfMzk1MyIgZGF0YS1uYW1lPSJQYXRoIDM5NTMiIGQ9Ik02LjYsMy4zLDMuMywwLDAsMy4zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0Ljk1IDQuOTUpIiBmaWxsPSJub25lIiBzdHJva2U9IiNlMmE0MjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxIi8+CiAgICA8cGF0aCBpZD0iUGF0aF8zOTU0IiBkYXRhLW5hbWU9IlBhdGggMzk1NCIgZD0iTTAsNi42VjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDguMjUgNC45NSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UyYTQyNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEiLz4KICA8L2c+Cjwvc3ZnPgo=");
            }
        }
    }
}