section.hero {
    position: relative;
    .hero-dish-image {
        position: absolute;
        right: -50px;
        top: 0;
        @include mediaMaxWidth(900) {
            transform: scale(-1) rotate(-90deg);
            right: -20px;
            top: auto;
            bottom: 70px;
        }
        @include mediaMaxWidth(767) {
            display: none;
        }
        img {
            width: 100%;
            max-width: 500px;
            @include mediaMaxWidth(900) {
                max-width: 310px;
            }
        }
        
    }
    .hero-top {
        width: 100%;
        background-size: cover;
        .hero-top-inner {
            width: 100%;
            max-width: 700px;
            margin-left: 40px;
            text-align: center;
            padding-top: 30px;
            @include mediaMaxWidth(1100) {
                max-width: 520px;
            }
            @include mediaMaxWidth(900) {
                max-width: 100%;
                padding: 40px;
                margin: 0;
            }
            .hero-top-title {
                @include mediaMaxWidth(900) {
                    margin-top: 50px;
                }
                img {
                    width: 100%;
                    max-width: 400px;
                }
            }
            .hero-top-hr {
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
                margin-top: -20px;
            }
            .hero-top-copy {
                width: 100%;
                display: flex;
                margin-top: 30px;
                @include mediaMaxWidth(900) {
                    max-width: 500px;
                    margin: auto;
                }
                @include mediaMaxWidth(500) {
                    flex-direction: column;
                }
                .hero-top-copy--product {
                    width: 40%;
                    @include mediaMaxWidth(500) {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        @include mediaMaxWidth(500) {
                            max-width: 250px;
                        }
                    }
                }
                .hero-top-copy--copy {
                    text-align: left;
                    width: 60%;
                    @include mediaMaxWidth(500) {
                        width: 100%;
                        margin-top: 25px;
                    }
                    p {
                        @include rubik;
                        font-size: 16px;
                        color: black;
                        @include mediaMaxWidth(1100) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .hero-middle {
        background-color: #0087D4;
        min-height: 130px;
        margin-top: -70px;
        @include mediaMaxWidth(1100) {
            margin-top: 0px;
        }
        @include mediaMaxWidth(900) {
            min-height: 180px;
        }
        @include mediaMaxWidth(767) {
            min-height: 80px;
        }
        .hero-middle-button {
            margin-left: 320px;
            @include mediaMaxWidth(1100) {
                margin-left: 250px;
            }
            @include mediaMaxWidth(900) {
                margin: 0 auto;
                text-align: center;
            }
            button {
                margin-top: 20px;
                border: 0px;
                background-color: #FED945;
                border-radius: 5px;
                @include box-shadow;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 30px;
                @include rubik;
                color:#000;
                outline: 0;
                cursor: pointer;
                transition: .3s ease all;
                &:hover {
                    background-color: white;
                }
            }
        }
    }
    .hero-bottom {
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        padding: 10px 10px 0px;
        &:before {
            position: absolute;
            width: 100%;
            content: '';
            top: 0;
            bottom: 0;
            background-color: rgba(255,171,0,0.5);
        }
        figure {
            position: relative;
            z-index: 2;
            img {
                width: max-content;
            }
        }
    }
}

section.recipes {
    padding-top: 30px;
    position: relative;
    .recipe-top-left {
        position: absolute;
        left: 0;
        top: 20px;
        max-width: 300px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .recipe-top-right {
        position: absolute;
        right: 0;
        top: 20px;
        max-width: 300px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .recipe-bottom-left {
        position: absolute;
        left: 0;
        bottom: 10px;
        max-width: 300px;
        width: 100%;
        @include mediaMaxWidth(1200) {
            position: relative;
            width: 50%;
            float: left;
        }
        img {
            width: 100%;
        }
    }
    .recipe-bottom-right {
        position: absolute;
        right: 0;
        bottom: 10px;
        max-width: 300px;
        width: 100%;
        @include mediaMaxWidth(1200) {
            position: relative;
            width: 50%;
            float: right;
        }
        img {
            width: 100%;
        }
    }
    @include mediaMaxWidth(500) {
        .recipe-top-left, .recipe-top-right {
            display: none;
        }
    }
    .recipes-heading {
        position: relative;
        padding-left: 30px;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        @include mediaMaxWidth(1050) {
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            margin-top: 25px;
            @include rubik;
        }
    }
    .recipes-grid {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0 40px;
        position: relative;
        z-index: 2;
        @include mediaMaxWidth(1050) {
            padding-left: 20px;
            padding-right: 20px;
        }
        .recipe-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            .recipe-col {
                width: calc(33.3333333% - 20px);
                background-size: cover;
                margin: 0 auto;
                margin-top: 10px;
                background-color: #F0F0F0;
                transition: .3s ease all;
                &:nth-child(even){
                    background-color: #F5BA19;
                }
                &:hover {
                    @include box-shadow;
                    .recipe-outer {
                        .recipe-item {
                            width: 100%;
                            .recipe-img {
                                background-size: 105%;
                            }
                        }
                    }
                }
                @include mediaMaxWidth(750) {
                    width: calc(50% - 20px);
                }
                @include mediaMaxWidth(500) {
                    width: calc(100% - 20px);
                }
                .recipe-outer {
                    .recipe-item {
                        width: 100%;
                        .recipe-img {
                            display: block;
                            min-height: 230px;
                            width: 100%;
                            background-size: cover;
                            background-position: center center;
                            transition: .3s ease background-size;

                        }
                        .recipe-info {
                            padding: 15px;
                            a {
                                color: black;
                                font-size: 20px;
                                @include rubik;
                                font-weight: bold;
                                line-height: 18px;
                            }
                            p {
                                color: black;
                                font-size: 14px;
                                @include rubik;
                                margin-top: 15px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.products {
    padding: 40px;
    padding-bottom: 40px;
    background-color: white;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:after {
        position: absolute;
        z-index: 0;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.3);
    }
    .products-intro {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        h2 {
            display: block;
            @include foodTruck;
            color: black;
            font-size: 64px;
            width: 100%;
            text-align: left;
        }
        .products-hr {
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
            width: 100%;
        }
        p {
            @include rubik;
            font-size: 16px;
            color: black;
            margin-bottom: 30px;
            margin-top: 5px;
            text-align: left;
            max-width: 600px;
            width: 100%;
        }
    }
    
    .products-grid {
        position: relative;
        z-index: 1;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
        padding: 15px 0 40px;
        .products-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            .product-col {
                width: calc(20% - 20px);
                background-size: cover;
                margin: 0 auto;
                margin-top: 10px;
                @include mediaMaxWidth(1000) {
                    width: calc(50% - 20px);
                }
                @include mediaMaxWidth(500) {
                    width: calc(100% - 20px);
                }
                .product-outer {
                    .product-item {
                        text-align: left;
                        width: 100%;
                        .product-img {
                            display: block;
                            min-height: 200px;
                            width: 100%;
                            background-size: contain;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        .product-info {
                            padding: 15px;
                            a {
                                color: black;
                                font-size: 18px;
                                @include rubik;
                                font-weight: bold;
                                line-height: 16px;
                                hyphens: none;
                            }
                            p {
                                color: black;
                                font-size: 14px;
                                @include rubik;
                                margin-top: 15px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.footer {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    &:before {
        position: absolute;
        content: '';
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .footer-mid {
        position: relative;
        z-index: 2;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include mediaMaxWidth(500) {
            min-height: 280px;
        }
        .footer-cta {
            a {
                @include foodTruck;
                color: white;
                font-size: 100px;
                transition: .3s ease all;
                &:hover {
                    color: #FED945;
                }
                @include mediaMaxWidth(1100) {
                    font-size: 60px;
                }
                @include mediaMaxWidth(600) {
                    font-size: 40px;
                }
                @include mediaMaxWidth(500) {
                    font-size: 30px;
                }
            }
            .footer-hr {
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
            }
        }
        figure {
            img {
                width: 100%;
                max-width: 350px;
                @include mediaMaxWidth(500) {
                    max-width: 260px;
                }
            }
        }
    }
}
