/* Paths are relative to location of main style.scss file */

@font-face {
  font-family: "Rubik";
  src: url("../assets/Fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "RubikItalic";
  src: url("../assets/Fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "FoodTruckChalkboard";
  src: url("../assets/Fonts/FoodTruckChalkboard-Regular.ttf") format("truetype");
  font-style: normal;
}
