<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="http://www.skinnerpasta.com/">Home</a> | <a href="https://www.skinnerpasta.com/en-US/content/26184/FAQs.aspx">FAQ</a> | <a href="https://www.skinnerpasta.com/en-us/contact_us/default.aspx">Contact Us</a> | <a href="https://www.skinnerpasta.com/en-US/common_pages/3098/TermsofUse.aspx">Terms of Use</a> | <a href="https://www.skinnerpasta.com/en-US/common_pages/3097/PrivacyPolicy.aspx">Privacy Policy</a>
        </div>
        <div class="footer-copyright">
            &copy; 2020 Riviana Foods Inc.
        </div>
    </div>
</footer>