<!-- Navigation -->
{% if entry.section == 'Recipes' %}
<nav class="nav-recipe">
{% else %}
<nav>
{% endif %}
{% if entry.section == 'Recipes' %}
    <a href="/"><span></span> Back to all recipes</a>
{% endif %}
<figure>
    <img v-on:click="goHome" alt="Logo" src="/{{ globals.logo.one().url }}" />
</figure>
</nav>